body {
  margin: 0;
  padding: 0;
}

.rbc-calendar {
  .rbc-timeslot-group {
    min-height: 86px !important;
  }

  .rbc-time-gutter {
    background-color: var(--dsw-color-bg-1);
    .rbc-timeslot-group {
      border-bottom: 1px solid rgba(0, 0, 0, 0);
      .rbc-label {
        color: var(--dsw-color-text-primary);
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
      }

      .rbc-time-slot {
        margin-top: -8px;
      }
    }
  }

  .rbc-allday-cell {
    .rbc-day-bg.rbc-today {
      background-color: inherit;
    }
  }
  .rbc-time-header {
    background-color: var(--dsw-color-bg-1);
    .rbc-time-header-gutter {
      margin-right: 0px !important;
      background-color: var(--dsw-color-bg-1);
      .time-gutter {
        color: var(--dsw-color-text-secondary);
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        display: flex;
        align-items: flex-end;
        height: 100%;
        padding-bottom: 12px;
      }
    }
  }

  .rbc-time-header-content + .rbc-time-header-content {
    margin-left: 0px !important;
  }
  .rbc-time-header-content,
  .rbc-time-header-gutter,
  .rbc-row.rbc-row-resource,
  .rbc-header {
    border: 0px !important;
  }

  .rbc-day-slot {
    background-color: var(--dsw-color-bg-1);
    &.redpoint {
      .rbc-current-time-indicator {
        &::before {
          content: '';
          height: 8px;
          width: 8px;
          display: block;
          border-radius: 50%;
          background-color: #f84135;
          position: absolute;
          top: -3px;
          z-index: 13;
        }
      }
    }
  }

  .rbc-time-header.rbc-overflowing {
    border-right: 0px !important;
  }

  .rbc-time-view {
    border: 0px !important;
  }

  .rbc-day-slot .rbc-events-container {
    margin-right: 0 !important;
  }

  .rbc-events-container,
  .rbc-row-segment {
    .rbc-event-label {
      font-size: 10px;
      color: var(--dsw-color-text-secondary);
    }
    .rbc-event-content {
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
    }
    .rbc-event {
      min-height: 20px;
      color: var(--dsw-color-text-secondary);
      border-radius: 0;
      border: 1px solid var(--dsw-color-line);
      padding: 0;
      display: flex;
      justify-content: flex-end;
      flex-direction: column-reverse;
      flex-wrap: nowrap;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
      padding: 4px;
    }
  }

  .toolbar-header {
    border-bottom: 1px solid var(--dsw-color-line);
    background-color: var(--dsw-color-bg-1);
    padding: 12px 24px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0px;
    height: 58px;

    > div {
      display: flex;
      align-items: center;
    }

    .today-btn {
      font-size: 14px;
      cursor: pointer;
      padding: 6px 12px;
      border-radius: 8px;
      border: 1px solid var(--dsw-color-line);
      background-color: var(--dsw-color-bg-1);
      color: var(--dsw-color-text-primary);
      margin-right: 8px;
      &:hover {
        background-color: var(--dsw-color-bg-2);
      }
    }

    .date-str {
      color: var(--dsw-color-text-primary);
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 510;
      line-height: 28px;
      width: 125px;
    }

    .pre-next-btn-wrapper {
      margin-left: 12px;
      display: flex;
      align-items: center;
      > span {
        cursor: pointer;
        color: var(--dsw-color-text-primary);
        display: block;
        width: 28px;
        height: 28px;
        padding: 4px;
        border-radius: 8px;

        &:hover {
          background: var(--dsw-color-bg-3);
        }

        &.disabled {
          color: var(--dsw-color-text-disabled);
        }
      }
    }
  }

  .rbc-btn-group-override {
    margin-left: auto;
    font-size: 14px;
  }

  .avtar-header {
    padding: 12px 10px;
    .name {
      margin: 4px 0;
      color: var(--dsw-color-text-primary);
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
    }
    .utc {
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: var(--dsw-color-text-secondary);
    }
  }

  .custom-header-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    gap: 4px;

    &.today {
      .date {
        background-color: var(--dsw-color-primary);
        color: #fff;
      }
      .week {
        color: var(--dsw-color-primary);
      }
    }

    .date {
      border-radius: 50px;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 36px;
      color: var(--dsw-color-text-primary);
    }
    .week {
      color: var(--dsw-color-text-secondary);
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
    }
  }

  .rbc-event:focus,
  .rbc-day-slot .rbc-background-event:focus {
    outline: none;
  }
}
