@mixin unruled($theme: light) {
  @if $theme ==light {
    // not ruled naming
    //
    --dsw-box-shadow-color: #fff;
    --dsw-loading-color: rgba(0, 0, 0, 0.1);
    --dsw-color-bg-primary: #056ffa;
    --dsw-color-line-1: #{$dsw-color-line-light};
    //
    // module level
    //
    --dsw-message-audio-recorder-time: #1e2329;
    --dsw-message-audio-slider-track: #1e23291a;
    --dsw-message-audio-slider-thumb: #474d57;
    --dsw-message-audio-play-btn: #474d57;
    --dsw-color-topic-list-dialog-header-container-bottom-line: #{$dsw-color-line-light};
    //
    --dsw-metting-background-color: #fff;
    --dsw-groupsetting-page-bg: #fafafa;

    --dsw-color-background-item-active: #f5f5f5;
    --dsw-color-background-group-item-hover: #f5f5f5;
  }

  @if $theme ==dark {
    // not ruled naming
    //
    --dsw-box-shadow-color: rgba(0, 0, 0, 0.5);
    --dsw-loading-color: rgba(255, 255, 255, 0.1);
    --dsw-color-bg-primary: #82c1fc;
    --dsw-color-line-1: #{$dsw-color-background-3-dark};

    //
    // module level
    --dsw-message-audio-recorder-time: #eaecef;
    --dsw-message-audio-slider-track: #ffffff1a;
    --dsw-message-audio-slider-thumb: #fafafa;
    --dsw-message-audio-play-btn: #fafafa;
    --dsw-color-topic-list-dialog-header-container-bottom-line: #{$dsw-color-background-3-dark};
    //
    --dsw-metting-background-color: #181a20;
    --dsw-groupsetting-page-bg: #181a20;

    --dsw-color-background-item-active: #3c4149;
    --dsw-color-background-group-item-hover: #474d57;
  }
}

@mixin dsw-colors($theme: light) {
  @if $theme ==light {
    // atomic ui colors in design system spec
    // Glbal
    // Brand Color & Function Color
    --dsw-color-primary: #{$dsw-color-primary-light};
    --dsw-color-success: #{$dsw-color-success-light};
    --dsw-color-warning: #{$dsw-color-warning-light};
    --dsw-color-error: #{$dsw-color-error-light};
    --dsw-color-line: #{$dsw-color-line-light};
    --dsw-color-icon: #{$dsw-color-icon-light};
    // Text Color
    --dsw-color-text-primary: #{$dsw-color-text-primary-light};
    --dsw-color-text-secondary: #{$dsw-color-text-secondary-light};
    --dsw-color-text-third: #{$dsw-color-text-third-light};
    --dsw-color-text-disabled: #{$dsw-color-text-disable-light};
    --dsw-color-text-white: #{$dsw-color-text-white-light};
    --dsw-color-text-black: #{$dsw-color-text-black-light};
    --dsw-color-text-warning: #{$dsw-color-text-warning-light};
    --dsw-color-text-error: #{$dsw-color-text-error-light};
    --dsw-color-text-success: #{$dsw-color-text-success-light};
    --dsw-color-text-info: #{$dsw-color-text-info-light};
    --dsw-color-text-meeting-busy: #{$dsw-color-text-meeting-busy-light};
    // Background Color
    --dsw-color-bg-1: #{$dsw-color-background-1-light};
    --dsw-color-bg-2: #{$dsw-color-background-2-light};
    --dsw-color-bg-3: #{$dsw-color-background-3-light};
    --dsw-color-bg-disable: #{$dsw-color-background-disable-light};
    --dsw-color-bg-tooltip: #{$dsw-color-background-tooltip-light};
    --dsw-color-bg-modal: #{$dsw-color-background-modal-light};
    --dsw-color-bg-popup: #{$dsw-color-background-popup-light};
    --dsw-color-bg-sky: #{$dsw-color-background-sky-light};
    --dsw-color-bg-space: #{$dsw-color-background-space-light};
    --dsw-color-bg-meeting-busy: #{$dsw-color-background-meeting-busy-light};
    --dsw-color-bg-meeting-border: #{$dsw-color-line-light};
    --dsw-color-view-btn-active: #{$dsw-color-background-sky-light};
    --dsw-color-text-calendar-date: #{$dsw-color-text-info-light};
    @include unruled(light);
  }

  @if $theme ==dark {
    // atomic ui colors in design system spec
    // Glbal
    // Brand Color & Function Color
    --dsw-color-primary: #{$dsw-color-primary-dark};
    --dsw-color-success: #{$dsw-color-success-dark};
    --dsw-color-warning: #{$dsw-color-warning-dark};
    --dsw-color-error: #{$dsw-color-error-dark};
    --dsw-color-line: #{$dsw-color-line-dark};
    --dsw-color-icon: #{$dsw-color-icon-dark};
    // Text Color
    --dsw-color-text-primary: #{$dsw-color-text-primary-dark};
    --dsw-color-text-secondary: #{$dsw-color-text-secondary-dark};
    --dsw-color-text-third: #{$dsw-color-text-third-dark};
    --dsw-color-text-disabled: #{$dsw-color-text-disable-dark};
    --dsw-color-text-white: #{$dsw-color-text-white-dark};
    --dsw-color-text-black: #{$dsw-color-text-black-dark};
    --dsw-color-text-warning: #{$dsw-color-text-warning-dark};
    --dsw-color-text-error: #{$dsw-color-text-error-dark};
    --dsw-color-text-success: #{$dsw-color-text-success-dark};
    --dsw-color-text-info: #{$dsw-color-text-info-dark};
    --dsw-color-text-meeting-busy: #{$dsw-color-text-meeting-busy-dark};
    // Background Color
    --dsw-color-bg-1: #{$dsw-color-background-1-dark};
    --dsw-color-bg-2: #{$dsw-color-background-2-dark};
    --dsw-color-bg-3: #{$dsw-color-background-3-dark};
    --dsw-color-bg-disable: #{$dsw-color-background-disable-dark};
    --dsw-color-bg-tooltip: #{$dsw-color-background-tooltip-dark};
    --dsw-color-bg-modal: #{$dsw-color-background-modal-dark};
    --dsw-color-bg-popup: #{$dsw-color-background-popup-dark};
    --dsw-color-bg-sky: #{$dsw-color-background-sky-dark};
    --dsw-color-bg-space: #{$dsw-color-background-space-dark};
    --dsw-color-bg-meeting-busy: #{$dsw-color-background-meeting-busy-dark};
    --dsw-color-bg-meeting-border: #{$dsw-color-background-3-dark};
    --dsw-color-text-calendar-date: #fff;
    @include unruled(dark);
  }
}
